{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type"
		content="width=device-width" charset="utf-8">	
	<link rel="stylesheet" type="text/css" href="{% static 'helper/style.css' %}">	
	<title>{% block title %}Bitrix-helper{% endblock %}</title>
</head>
<body>
	<header>
		<a href="{% url 'helper:index' %} " class="link"><strong>Bitrix-helper</strong></a>
	</header>
		<div class="content">
			<nav class="nav">
				<div class="nav-a">
					{% if user.is_authenticated %}
						{% if user.is_superuser %}
							<a href="{% url 'admin:index' %}" class="link">admin</a>
						{% endif %}
						<a href="{% url 'helper:logout' %}" class="link">Logout</a>
					{% else %}
						<a href="{% url 'helper:login' %}" class="link">Login</a>
						<a href="{% url 'helper:register' %}" class="link">Registration</a>
					{% endif %}
				</div>
			</nav>
			<section>
				{% block content %}
				{% endblock %}
			</section>
			<div class="test"></div>
		</div>
</body>
</html>