{% extends "layout/basic.html" %}

{% load bootstrap4 %}

{% block content %}
	{% if user.is_authenticated %}
		{{app_u.num}} {{app_u.name}}<br>
		Участники заявки<br>
		{% for participant in app_u.participants.all %}
			{{participant}}<br>
		{% endfor %}
		Прайс заявки<br>
		{% for price in PriceListsu %}
			{% if price in app_u.pricelistUr.all %}
				{{price.num}} - {{price.name}}<br>
			{% endif %}
		{% endfor %}
		Пункты прайслиста<br>
		{% for price in PriceListsu %}
			{% if price not in app_u.pricelistUr.all %}
				{{price.num}} - {{price.name}}<br>
			{% endif %}
		{% endfor %}				
	{% else %}
		Вам нужно войти
	{% endif %}
{% endblock %}