{% extends "layout/basic.html" %}

{% load bootstrap4 %}

{% block content %}
	{% if user.is_authenticated %}
		{{app_u.num}} {{app_u.name}}<br>
		Участники заявки<br>
		{% for participant in app_u.participants.all %}
			{{participant}}<br>
		{% endfor %}
		Прайс заявки<br>
		{% for price in PriceListsu %}
			{% if price in app_u.pricelistUr.all %}
				<form method="POST">
					{{price.num}} - {{price.name}}
					{% csrf_token %}
					<input type="hidden" name="item_id" value={{price.id}}>
  					<input type="submit" value="delete" name="delete"/>
				</form>
			{% endif %}
		{% endfor %}
		Пункты прайслиста<br>
		{% for price in PriceListsu %}
			{% if price not in app_u.pricelistUr.all %}
				<form method="POST">
					{{price.num}} - {{price.name}}
					{% csrf_token %}
					<input type="hidden" name="item_id" value={{price.id}}>
  					<input type="submit" value="add" name="add"/>
				</form>
			{% endif %}
		{% endfor %}
		<form method="POST">
			{% csrf_token %}
  			<input type="submit" value="Создать файл" name="create_doc"/>
		</form>					
	{% else %}
		Вам нужно войти
	{% endif %}
{% endblock %}