{% extends "layout/basic.html" %}

{% load bootstrap4 %}

{% block content %}
	{% if user.is_authenticated %}
		Ваше имя {{user.username}} <br>
		{% if Applications %}
			{% if user.username %}
				{% for app in Applications %}
					{{app.id}} {{app.num}} {{app.name}} <br>
					Участники заявки<br>
					{% for participant in app.participants.all %}
						{{participant}}<br>
					{% endfor %}
					Прайс заявки<br>
					{% for price in app.pricelist.all %}
						{{price}}<br>
					{% endfor %}
				{% endfor %}
				Пункты прайслиста<br>
			{% endif %}	
		{% endif %}
		{% for price in PriceLists %}
			{{price}}<br>
		{% endfor %}
	{% else %}
		Вам нужно войти
	{% endif %}
{% endblock %}