{% extends "layout/basic.html" %}

{% load bootstrap4 %}

{% block content %}
	{% if user.is_authenticated %}
		Ваше имя {{user.username}} <br>
		Ваша группа {{user.department}} <br>
		----ЗАЯВКИ Ю.Л.----<br>
		{% if Applicationsu %}
			{% if user.username %}
				{% for app in Applicationsu %}
					{% if app.is_active == True %}
						<a href="{% url 'helper:app_datail_ur' pk=app.pk %}" class="link">{{app.num}} {{app.name}}</a>
					{% endif %}
				{% endfor %}
			{% endif %}	
		{% endif %}
	{% else %}
		Вам нужно войти
	{% endif %}
{% endblock %}